@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: transparent;
}

main {
  /* padding: 2rem; */
}
